.App{
    min-height: 100vh;
    display: flex;
    

}
.fullscreen-load{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 100%;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    background-color: black;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
.error{
    font-size: 12px;
    color: red;
}

/* login/register screen css */
.authentication-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../public/background.png);
}
.authentication-form{
    padding: 50px;
    background-color: white;
}
.authentication-title{
    text-align: center;
}
.authentication-component-redirect{
    text-align: center;
}

/* dashboard screen */
.dashboard-page {
    width: 100%;
    height: 100vh;
}

/* report page */
.report-page{
    width: 100%;
    border: solid grey 10px;
    margin-left: 120px;
    margin-right: 120px;
}

.report-page-heading{
    text-align: center;
    margin-top: 15px;
    border: solid #efeeee 1px;
    background: #efeeee;
    margin-right: 50px;
    margin-left: 50px;
}
.report-page-body{
    margin-right: 189px;
    margin-left: 189px;
}
.report-page-patientinfo{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.patient-data{
    display: flex;
    margin-top: 15px;
    span:first-child{
        margin-right: 20px;
        color: #939598;
    }
}
.report-table {
    margin-top: 25px;
}
.report-result{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid #efeeee 1px;
    background: #efeeee;
    padding: 10px;
}
.pdf-download {
    position: relative;
    left: 250px;
    top: 50px;
    cursor: pointer;
}

/* components */
/* nav component */
.nav-logout{
    cursor: pointer;
}

/* report list component */
.report-add-button{
    display: flex;
}
.report-add-button-no-data{
    display: flex;
    justify-content: center;
}
.report-list{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.report-table-list{
    margin-top: 10px;
}
.icon {
    cursor: pointer;
    margin-right: 10px;
    color: rgb(105, 107, 224);
}

/* create report form */
.create-report-form{
    display: flex;
    width: 600px;
}
.create-report-form-field{
    margin-right: 10px !important;
    margin-left: 10px !important;
}

/* media queries */
@media (max-width: 992px) {
    /* authentication page */
    .authentication-form{
        padding: 5px;
    }
    /* report list */
    .report-table-list {
        padding: 0px;
    }

    /* report page */
    .report-page {
        margin: 0 0;
        border: none;
    }
    .report-page-body{
        margin: 0 0;
    }
    .report-page-heading {
        margin-left: 10px;
        margin-right: 10px;
    }
    .report-page-patientinfo{
        flex-direction: column;
        margin-left: 10px;
        margin-right: 0px;
    }
    .report-table{
        margin-left: 10px;
        margin-right: 10px;
    }
    .pdf-download{
        position: absolute;
        left: 40px;
        top: 60px;
    }
    .report-result{
        margin-left: 10px;
        margin-right: 10px;
    }
    .create-report-form{
        width: 100%;
        flex-direction: column;
    }
}